@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: var(--transition-time);
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
