@keyframes fadeInLeft {
    0% {
        transform: translateX(1rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in-left {
    animation-name: fadeInLeft;
    animation-duration: var(--transition-time);
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
