@keyframes fadeInRight {
    0% {
        transform: translateX(-1rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in-right {
    animation-name: fadeInRight;
    animation-duration: 0.75s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
