.home {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-sm {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-logo {
    opacity: 0.3;
    transition: transform 0.25s, opacity 0.25s;
}

.skill-logo:hover {
    transform: translateY(-0.75rem);
    opacity: 1;
}
