@font-face {
    font-family: "Raleway";
    src: url("../../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway-Light";
    src: url("../../fonts//Raleway-ExtraLight.ttf");
}

.home {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.huge-font {
    font-family: Raleway-Light, Arial, Helvetica, sans-serif;
    font-size: 7rem;
}

.thin-font {
    font-family: Raleway-Light, Arial, Helvetica, sans-serif;
}

.skill-logo {
    opacity: 0.3;
    transition: transform 0.25s, opacity 0.25s;
}

.skill-logo:hover {
    transform: translateY(-0.75rem);
    opacity: 1;
}
