@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.selected::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;

    content: '';

    background: rgba(255, 255, 255, 0.75);

    animation: underline 0.1s linear 0s 1 normal;
    animation-fill-mode: forwards;
}

.ph {
    padding-left: 15vw;
    padding-right: 15vw;
}
